In [61]:
from checkdigit import upc
import pandas as pd

In [62]:
# random sample from https://www.upcitemdb.com/
data = 'example_upc.csv'

In [63]:
df = pd.read_csv(data)

In [64]:
df

             upc
0  4055678528871
1    72945611900
2    13764028067
3    72250037129
4    73472001905
5   652729104134
6    24321930334
7     9542023782
8    31290113040
9  3282770075502

In [65]:
# Get trimmed UPC with no check digit
trim = [str(x)[:-1] for x in df['upc']]
df['trim_upc'] = trim

In [66]:
#get current check digit
current_check_digit = [str(x)[-1:] for x in df['upc']]
df['current_check_digit'] = current_check_digit

In [67]:
# get trimmed length 
trim_len = [len(str(x)) for x in df['trim_upc']]
df['trim_len'] = trim_len
df['trim_upc'] = df['trim_upc'].astype(str)

In [68]:
df

             upc      trim_upc current_check_digit  trim_len
0  4055678528871  405567852887                   1        12
1    72945611900    7294561190                   0        10
2    13764028067    1376402806                   7        10
3    72250037129    7225003712                   9        10
4    73472001905    7347200190                   5        10
5   652729104134   65272910413                   4        11
6    24321930334    2432193033                   4        10
7     9542023782     954202378                   2         9
8    31290113040    3129011304                   0        10
9  3282770075502  328277007550                   2        12

https://en.wikipedia.org/wiki/Universal_Product_Code

Account for multiple UPC types <br>
- trimmed upc length is >=12 then pad to 13 <br>
- trimmed upc length is <12 then pad to 11

In [69]:
cond_upc = [x.zfill(13) if len(str(x)) >= 12 else x.zfill(11) for x in df['trim_upc']]

In [70]:
df['pad_upc'] = cond_upc

In [71]:
df

             upc      trim_upc current_check_digit  trim_len        pad_upc
0  4055678528871  405567852887                   1        12  0405567852887
1    72945611900    7294561190                   0        10    07294561190
2    13764028067    1376402806                   7        10    01376402806
3    72250037129    7225003712                   9        10    07225003712
4    73472001905    7347200190                   5        10    07347200190
5   652729104134   65272910413                   4        11    65272910413
6    24321930334    2432193033                   4        10    02432193033
7     9542023782     954202378                   2         9    00954202378
8    31290113040    3129011304                   0        10    03129011304
9  3282770075502  328277007550                   2        12  0328277007550

In [72]:
# get check digit
df['correct_check_digit'] = [upc.upc_calculate(x) for x in df['pad_upc']]

# create corrected upc
df['correct_upc'] = df['pad_upc'] + df['correct_check_digit']

In [73]:
df

,upc,trim_upc,current_check_digit,trim_len,pad_upc,correct_check_digit,correct_upc
0,4055678528871,405567852887,1,12,0405567852887,1,04055678528871
1,72945611900,7294561190,0,10,07294561190,0,072945611900
2,13764028067,1376402806,7,10,01376402806,7,013764028067
3,72250037129,7225003712,9,10,07225003712,9,072250037129
4,73472001905,7347200190,5,10,07347200190,5,073472001905
5,652729104134,65272910413,4,11,65272910413,4,652729104134
6,24321930334,2432193033,4,10,02432193033,4,024321930334
7,9542023782,954202378,2,9,00954202378,2,009542023782
8,31290113040,3129011304,0,10,03129011304,0,031290113040
9,3282770075502,328277007550,2,12,0328277007550,2,03282770075502

In [74]:
# df['correct_upc'].to_csv('correct_upc.csv',index=False)